body { background: #4ec8db; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 29px; display: flex; }
.block-metrics-0 { color: #e8afe5; font-size: 13px; margin-bottom: 5px; }
.block-cluster-1 { color: #309a24; font-size: 15px; margin-bottom: 5px; }
.block-filter-2 { color: #d4ca83; font-size: 18px; margin-bottom: 5px; }
.block-invoice-3 { color: #886790; font-size: 18px; margin-bottom: 5px; }
.block-cache-4 { color: #c47df1; font-size: 12px; margin-bottom: 5px; }
.block-auth-5 { color: #482030; font-size: 17px; margin-bottom: 5px; }
.block-sms-6 { color: #4138d4; font-size: 15px; margin-bottom: 5px; }
.block-filter-7 { color: #9bb1af; font-size: 12px; margin-bottom: 5px; }
.block-user-8 { color: #e47b6d; font-size: 16px; margin-bottom: 5px; }
.block-notify-9 { color: #6f6755; font-size: 20px; margin-bottom: 5px; }